<h1>フォローリスト</h1>

<% @users.each do |user| %>
  <h3>ユーザー名</h3>
  <span><%= link_to user.email, user_path(user.id) %></span>
  <% if current_user != user %>
    <% if user.followed_by?(current_user) %>
        <p><%=button_to "フォロー解除", user_relationships_path(user.id), method: :delete %></p>
    <% else %>
        <p><%=button_to "フォローする", user_relationships_path(user.id), method: :post %></p>
    <% end %>
  <% end %>
<% end %>
